<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cash-Equities-Master</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>markettableservlet</servlet-name>
    <servlet-class>com.servlet.MarketTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>markettableservlet</servlet-name>
    <url-pattern>/markettable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ordertableservlet</servlet-name>
    <servlet-class>com.servlet.OrderTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ordertableservlet</servlet-name>
    <url-pattern>/ordertable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TickerServlet</servlet-name>
    <servlet-class>com.servlet.Ticker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TickerServlet</servlet-name>
    <url-pattern>/ticker</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>indiordertableservlet</servlet-name>
    <servlet-class>com.servlet.IndividualOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indiordertableservlet</servlet-name>
    <url-pattern>/individualorder</url-pattern>
  </servlet-mapping>
</web-app>